<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_header :: pageHead(pageTitle='Step One - Ethan')"></head>
<body>
<div th:replace="fragments/_header :: pageHeader"></div>
<div class="content">
  <h2>
    Ethan was first!
  </h2>
  <p>
    Ethan was born in 2000 and is the first of three brothers.
  </p>
  <p>
    <img th:src="@{/img/Ethan1.jpg}" class="pic" alt="Ethan">
  </p>
</div>
<div th:insert="fragments/_footer :: pageFooter"></div>

</body>
</html>