<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_header :: pageHead(pageTitle='Step Two - Lucas')"></head>
<body>
<div th:replace="fragments/_header :: pageHeader"></div>
<main>
    <h1>
        Lucas was second!
    </h1>
    <p>
        Lucas was born in 2002 and is the second of three brothers.
    </p>
    <p>
        <img th:src="@{/img/Lucas1.jpg}" width="800" alt="Lucas">
    </p>
</main>
<div th:insert="fragments/_footer :: pageFooter"></div>

</body>
</html>