<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_header :: pageHead(pageTitle='Step Two - Lucas')"></head>
<body>
<div th:replace="fragments/_header :: pageHeader"></div>
<div class="content">
    <h2>
        Lucas was second!
    </h2>
    <p>
        Lucas was born in 2002 and is the second of three brothers.
    </p>
    <p>
        <img th:src="@{/img/Lucas1.jpg}" class="pic" alt="Lucas">
    </p>
</div>
<div th:insert="fragments/_footer :: pageFooter"></div>

</body>
</html>