<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<header th:fragment="pageHeader">
    <nav>
        <a th:href="@{/}">
              <span class="material-symbols-sharp">
                  forest
              </span>
            <ul>
                <li><a th:href="@{step-one}">Step One: Ethan</a></li>
                <li><a th:href="@{step-two}">Step Two: Lucas</a></li>
                <li><a th:href="@{step-three}">Step Three: Wylie</a></li>
            </ul>
        </a>
    </nav>
</header>

<head th:fragment="pageHead(pageTitle)">
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,1,-25" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title th:text ="${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

</html>