<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_header :: pageHead(pageTitle='How to Create A Boy Family')"></head>

<body>
    <div th:insert="fragments/_header :: pageHeader"></div>
        <div class="content">

                    <h2>Steps to Fill Barrel With Boys</h2>

            <hr>
            <p>
                <img th:src="@{/img/2021BoysHawaii2.jpg}" class="pic" alt="Three boys in Hawaii">
            </p>

            <p>
                When you want a bunch of craziness in your life, try a family of boys.
                <br>They are full of laughs, energy and anything you can think of.
                <br>The only way to handle a barrel full of boys is to get a barrel full of boys.
            </p>

            <br>
            <h2 style="text-align: center">What does a barrel full of boys need?</h2>

            <hr>
            <img th:src="@{/img/3boysOnBeach.jpg}" class="pic" alt="Three boys on beach">
            <p>
                Make sure you have lots of places to set them free to roam.
                <br>
                Beaches are perfect places to set boys free!
                <br> Another place that boys like is a cabin up north.  Here's one my boys enjoy:
                <a href="https://www.campkeweenaw.com/index.html">Family Cabin</a>
            </p>
        </div>

    <div th:insert="fragments/_footer :: pageFooter"></div>
</body>

</html>